{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "3.6.4",
        "targets": {
          // 新增浏览器目标配置
          "chrome": "58",
          "ie": "11"
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-logical-assignment-operators"],
  "exclude": "node_modules/**"
}
